[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
omni-epd = {git = "https://github.com/robweber/omni-epd.git"}
pillow = "*"
numpy = "*"
requests = "*"
selenium = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
